*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*barra navegacion*/

nav{
    background-color: rgb(4, 39, 44);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.barra{
    display: flex;
    margin: 20px; 
}

.nav-link{
    color: white;
    font-size:small;
    font-family:Verdana, Geneva, Tahoma, san-sserif;  
    padding: 4px 4px;
    margin: 10px;
    text-decoration: none;    
}

.zoom{
    transition-property: inherit;
    transition-duration: 3s;
}

.zoom:hover{
transform: scale(1.2);
}

section{
    background-image: url("../img/carrousel/cactus1300x530.jpg");
    background-size: cover;
}


h2{
    color:#678e29;
    font-family: 'Allison', cursive;
    font-size: 50px;
    text-align: center;
    padding:13px;  
    margin:0px;
    
}

.container{
    width: 500px;
    height: 500px;
    justify-content: center;
    color:black;
    margin-left: 30px;  
    padding: 20px;;
    background: rgba(78, 77, 77, 0.527); 
    border-radius: 8px;
    border:20px;
    
} 
  



/*footer*/

footer{
    background-color: rgb(4, 39, 44);
    color: white;
    text-align:center;
    height: 20vh;
    padding:20px;
}

.gh{
    color: white;
    margin: 30px;
    padding: 6px;
}
p{
    margin-top: 10px;
}

