*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*barra navegacion*/
nav{
    background-color: rgb(4, 39, 44);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
.barra{
    display: flex;
    margin: 20px;
    flex-wrap: wrap; 
}
.nav-link{
    color: white;
    font-size:small;
    font-family:Verdana, Geneva, Tahoma, san-sserif;  
    padding: 4px 4px;
    margin: 10px;
    text-decoration: none;  
}
.nav-link-active{
    color: rgb(245, 181, 6); 
    font-size:small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-decoration: none; 
}
.zoom{
    transition-property: inherit;
    transition-duration: 3s;
}
.zoom:hover{
transform: scale(1.2);
}
/*fin barra de navegacion*/

section{
    background-color:white;
}
.seccion-principal{
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: 2rem, 2rem, 70vh;
grid-template-areas: 
"titulo titulo"
"carrous api"
"info mapa";
margin-left: 50px;
margin-right: 50px;
gap: 15px;
}

.clima3{
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.api{
    grid-area: api;
    justify-content: center;
    align-content: center;
    background-color: rgba(8, 218, 218, 0.247);
        
}
/*CARROUSEL*/
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
   
    height: 300px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 300px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
/*FIN CARROUSEL*/
.titulo{
    grid-area: titulo;
}
.info{
    grid-area: info;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: justify;
}
.mapa{
    grid-area: mapa;  
  
}

.carrous{
    grid-area: carrous;
}
h2{
    color:#678e29;
    font-family: 'Allison', cursive;
    font-size: 50px;
    text-align: center;      
    margin:0px;
    letter-spacing: 3px;
}
.seccion-secundaria{
    display: flex;
    background-color:#678e29;
    color: white;
    padding:40px;
    justify-content: space-between; 
    flex-wrap: wrap;  
}
.sc{
    margin-inline: 60px;
}
/*footer*/
footer{
    background-color: rgb(4, 39, 44);
    color: white;
    text-align:center;
    height: 20vh;
    padding:20px;
}
.gh{
    color: white;
    margin: 30px;
    padding: 6px;
}
p{
    margin-top: 10px;
}

@media only screen and (max-width: 768px){
    .nav{
        display: flex;
        align-items:center;
    }
    .seccion-principal{
        grid-template-columns: none;
        grid-template-rows: 2rem, 2rem, 70vh;
        grid-template-areas: 
        "titulo titulo"
        "carrous carrous"
        "info info"
        "api mapa";   

    }
    .map{
        align-content: center;
    }
.gh{
    margin: 3px;
    padding: 3px;
}
}